.button {
    color: white;
    border: none;
    border-radius: 2em;
    min-width: 100px;
    min-height: 25px;
    font-size: 1em;
}

.button.primary {
    background-color: rgb(225, 174, 161);
}

.button.secondary {
    background-color: rgb(193, 196, 200);
}

.button.primary:hover {
    background-color: rgb(225, 161, 161);
}

.button.secondary:hover {
    background-color: rgb(180, 183, 187);
}