.color_chooser_wrapper {
    max-width: 50%;
    min-width: fit-content;
    padding: 4% 0;
}

.color_chooser_label {
    color: rgb(190, 190, 190);
    display: block;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.color_option_wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.color_option {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: currentColor;

    margin-left: 0.4em;
}

.color_option:first-child {
    margin-left: 0;
}

.color_option.selected {
    width: 11px;
    height: 11px;
    outline: 1.5px solid currentColor;
    outline-offset: 2px;

    margin-left: 0.550em;
    margin-right: 0.1em;
}

.color_option.selected:first-child {
    margin-left: 0.150em;
}